* {
	box-sizing: border-box;
	max-width: 100%;
	outline: none;
}
body, html {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}
body {
	font-family: sans-serif;
	background: #4f7dbe;
	color: #F0F8FF;
}
main {
	min-height: calc(100% - 70px);
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
form {
	padding: 0 25px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
form > .form-group {
	margin: 10px auto;
	width: 265px;
	display: flex;
	flex-direction: column;
}
.form-group > label {
	margin-bottom: .25em;
	font-weight: bold;
	font-size: 14px;
}
input, select {
	box-shadow: 0 0 1px 2px rgba(16, 16, 24, .075);
	transition: all .25s ease-in-out;
	border: 1px solid #A7A5AB;
	background: #F0F8FF;
	border-radius: 0;
	min-height: 40px;
	padding: 0 .5em;
	height: 40px;
	width: 100%;
}
input:focus {
	border-width: 2px;
}
@keyframes erro {
	from {
		box-shadow: 0 0 1px 3px rgba(16, 16, 24, .075);
		transform: scale(1.05);
	}
	to {
		box-shadow: 0 0 1px 2px rgba(16, 16, 24, .075);
		transform: scale(1);
	}
}
.erro {
	border: 2px solid #ED494C;
	animation: erro .125s linear 3;
}
.ok {
	border: 2px solid #18CF51;
}
footer {
	box-shadow: 0 -2px 4px rgba(24, 24, 48, .35);
	background: #446DA8;
	height: 70px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
footer > a {
	font-size: 48px;
	color: #F0F8FF;
	margin: 0 30px;
}
footer > a {
	text-shadow: 0 0 3px rgba(16, 16, 24, .5);
	transition: all .25s ease-in-out;
}
footer > a:hover, footer > a:focus {
	text-shadow: 0 0 5px rgba(16, 16, 24, .5);
	transform: scale(1.1);
}
@media (max-width: 579px) {
	form {
		flex-wrap: nowrap;
		flex-direction: column;
	}
}